body {
    font-family: Arial;
    font-size: 14px;
}

#navbar {
    background-color: #461F2C;
    color: #E3E2DF;
    font-family: DejaVu Sans Mono for Powerline;
}

.signout {
    color: #EE4C7C;
}

#sidebar {
    background-color: #572636;
    color: #E3E2DF;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#topics {
    padding: 1rem;
}

#topics:hover {
    color: #9A1750;
    background-color: #E3AFBC;
}

#sideBarIcon {
    height: 20px;
    width: auto;
    fill: #E3E2DF;
    padding-left: 1rem;
}

#sideBarIcon:hover {
    color: #9A1750;
}

#content {
    background-color: #F8EFF2;
    color: #5D001E;
}

#heading {
    font-size: 25px;
    font-style: bold;
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    margin-bottom: 0.2rem;
}

#headingIcon {
    height: 35px;
    width: auto;
    fill: #5D001E;
}

#naming {
    background-color: white;
    padding-left: 3rem;
}

#registration {
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    margin: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#name {
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    margin: 1rem;
    padding: 0.4rem;
    justify-content: left;
    width: 100%;
}

#honorifics {
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    margin: 1rem;
    padding: 0.4rem;
    justify-content: left;
    width: 100%;
}

#fname {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#lname {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#personal_info {
    background-color: white;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
    justify-content: center;
}

#sub-topics {
    color: #9A1750;
    justify-content: center;
}

#subTopicsIcon {
    height: 80px;
    width: auto;
    fill: #572636;
}

#photo {
    justify-content: center;
    display: flex;
}

#insert_photo {
    justify-content: center;
    display: flex;
    margin: 1rem;
    padding: 5rem;
    background-color: #F8EFF2;
    border-radius: 10px;
}

#day {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#month {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#year {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#age {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#race {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#nationality {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#religion {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#gender {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#genderIcon {
    height: 32px;
    border-color: #EBB5C7;
    background-color: #EBB5C7;
    border-radius: 4px;
    padding: 0.4rem;
}

#mobile {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#housePhone {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#workPhone {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#next {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#email {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#lineID {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#info {
    justify-content: center;
    display: flex;
}

#banking {
    justify-content: center;
    display: flex;
    color:  #572636;
}

#bankAccount {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    margin: 0.2rem;
    width: 100%;
}

#brach {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    margin: 0.2rem;
    width: 100%;
}

#accountNumber {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    margin: 0.2rem;
    width: 100%;
}

#paymentInfo {
    justify-content: right;
    background-color: white;
    border-color: #EBB5C7;
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.4rem;
    margin: 0.2rem;
    width: 100%;
}

#submit {
    justify-content: center;
    display: flex;
    background-color: #9A1750;;
    color: white;
    margin: 1rem;
    border-radius: 4px;
    padding: 0.5rem;
}

#cancel {
    justify-content: center;
    display: flex;
    background-color: white;
    color: #5D001E;
    margin: 1rem;
    border-radius: 4px;
    padding: 0.5rem;
}

#copyright {
    padding: 1rem;
    background-color: white;
    color: #9A1750;
    margin-top: 5rem;
}